* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'centra no2';
    background-color: black;
}


/* Navigation Bar  */

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    top: 0px;
    left: 0px;
    align-items: center;
    position: sticky;
    background-color: rgb(255, 142, 142);
    z-index: 2;
}

/* Navigation Bar: Logo & Text(RIGHT SIDE) */
.nav-logo img {
    height: 90px;
    margin-left: 100px;
}

.nav-logo {
    display: flex;
}

.nav-logo a {
    display: flex;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}

/* Navigation Bar: Search Box (MIDDLE SIDE) */
.nav-search {
    /* border: 2px solid black; */
    background-color: rgb(255, 142, 142);
    top: 0px;
    left: 0px;
    align-items: center;
    display: flex;
}

.nav-search input {
    /* margin: 10px 10px 10px 120px; */
    /* margin-top:50px; */
    height: 60px;
    width: 800px;
    font-size: 20px;
    border-radius: 10px 0px 0px 10px;
    border: 0px;
    background-color: rgb(241, 241, 241);
    padding-left: 10px;
    outline: none;
}

.nav-search button {
    padding-top: 14px;
    height: 60px;
    width: 70px;
    font-size: 20px;
    border-radius: 0px 10px 10px 0px;
    border: 0px;
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}

.nav-search button:hover {
    background-color: red;
}

.nav-search button img {
    margin-top: -35px;
    margin-left: -20px;
    padding-top: 14px;
    position: fixed;
    height: 30px;
    width: 30px;
}

/* Navigation Bar: Items (LEFT SIDE)  */
.nav-text {
    background-color: rgb(255, 142, 142);
    top: 0px;
    left: 0px;
    align-items: center;
    display: flex;
    padding-left: 100px;
}

.nav-text ul {
    display: flex;
}

.nav-text ul li {
    font-size: 1.2rem;
    font-weight: 500;
    list-style: none;
    padding-right: 50px;
    padding-top: 10px;
}

.nav-text ul li a {
    text-decoration: none;
    padding: 10px;
    color: rgb(0, 0, 0);
}

.nav-text ul li a:hover {
    color: rgb(255, 0, 0);
}

.nav-text ul button {
    color: white;
    border: 2px solid red;
    background-color: black;
    grid-column: 1/span 3;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.nav-text ul button:hover {
    background-color: rgb(53, 53, 53);
}


/* Section */

#s-container {
    display: grid;
    margin: 150px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 1fr 1fr 1fr;
    grid-gap: 20px;
}

#s-container h1 {
    color: #fff;
    grid-column: 1 / span 3;
    font-size: 50px;
}

.box {
    border: 2px solid red;
    border-radius: 10px;
    transition: 0.25s;
}

.box:hover {
    scale: 105%;
    box-shadow: 1px 1px 10px white;
}

.box img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}



/* footer */

hr {
    border: 2px solid red;
}

#f-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 800px 100px;
    /* margin-bottom: -500px; */
    background-color: black;
}

.text {
    color: white;
    /* text-align: center; */
    font-size: 1.5rem;
    padding: 50px 100px;
}

.box-6 p {
    padding-bottom: 20px;
}

.box-7 p {
    padding-bottom: 20px;
}

.box-8 button {
    background-color: black;
    box-shadow: 0px 0px 5px red;
    font-size: 1rem;
    height: 3rem;
    display: flex;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
    align-items: center;
    color: rgb(180, 179, 179);
    cursor: pointer;
}

.box-8 button:hover {
    color: white;
    box-shadow: 0px 0px 10px red;
}

.box-8 a {
    text-decoration: none;
}

.box-9 {
    color: rgb(180, 179, 179);
    justify-self: center;
}

.box-10 {
    color: rgb(180, 179, 179);
    grid-column: 2 / span 2;
    justify-self: center;
}

.box-11 {
    color: rgb(180, 179, 179);
    justify-self: center;
}













/* Media Queries */
@media (max-width: 375px){
    
    /* Navbar */

    #container{
        grid-template-columns: 1fr;
        width: 1330px;
    }
    .nav-logo img {
        margin-left:600px ;
        height: 200px;
        margin-top: 50px;
    }
    .nav-search input {
        margin-top: 50px;
        height: 100px;
        margin-left: 250px;
        font-size: 3rem;
    }
    
    .nav-search button {
        margin-top: 50px;
        height: 100px;
    }
    
    .nav-search button img {
        height: 50px;
        width: 50px;
        padding-top: 0;
    }
    .nav-text {
        margin-top: 50px;
        margin-left: 70px;
    }
    
    .nav-text ul li {
        font-size: 4rem;
        padding-right: 200px;
    }
    
    .nav-text ul button {
        height: 100px;
        width: 200px;
        font-size: 3rem;
    }

    /* Section */

    #s-container {
        grid-template-columns: 1fr ;
        margin:70px;
    }
    
    #s-container h1 {
       grid-column: 1 span 1;
    }
    
    .box {
        
    }
    .box img {
        height: 300px;
        width: 100vw;
    }
}